/* Styles */
body {
   font-family: monospace;
   font-size: 1vmax;
   margin: 0.1%;
   transformX: rotate(90deg);
}
/* Table */
.table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}
/* Row */
.table div {
    display: table-row;
}
/* Cell */
.table div div {
    display: table-cell;
    border:solid #000000 0.1vmax;
    text-align: center;
    vertical-align: middle;
    padding: 0.5%;
    background: #F4F4F4;
}
/* Body */
.body div {
    width: 50% !important;
    vertical-align: top !important;
    text-align: left !important;
}
/* */
div {
    margin: 1%;
}
/* */
div[id=lack] {
    margin: 1%;
    color: #FF0000;
}
/* Formulario */
select {
    margin-left: 5%;
    margin-bottom: 0.5vmax;
}
/* Boton de compartir */
svg {
    cursor: pointer;
    position: fixed;
    bottom: 3vmax;
    right:  3vmax;
    width:  10vmax;
    height: 6vmax;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
}